<%- layout ('../common/admin-template.ejs') %>
<!-- Page Content -->
<div id="page-content-wrapper" ng-controller="approveTeacherCtr">
	<div class="container-fluid">
		<div class="panel panel-default panel-table">
			<div class="panel-heading">
				<div class="row">
					<div class="col col-xs-6 col-sm-4">
						<h3 class="panel-title bold">Approve teacher</h3>
					</div>
					<div class="col col-xs-6 col-sm-8">
						<input type="text" class="form-control" placeholder="Search by email" ng-model="searchEmail">
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-list">
					<thead>
						<tr>
							<th class="hidden-xs text-center">ID</th>
							<th>Name</th>
							<th>Email</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="teacher in teachers">
							<td class="hidden-xs" align="center">{{teacher.id}}</td>
							<td>{{teacher.fullname}}</td>
							<td>{{teacher.email}}</td>
							<td align="center">
								<a class="btn btn-danger" ng-click="view(teacher)" data-toggle="modal" data-target="#viewTeacherModal">READ</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col col-xs-4">Page {{pagging.current + 1}} of {{pagging.pages}}
					</div>
					<div class="col col-xs-8">
						<ul class="pagination hidden-xs pull-right">
							<li><button class="btn btn-default" ng-click="prePage()">«</button></li>
							<li><button class="btn btn-default" ng-click="nextPage()">»</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	<div id="viewTeacherModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{viewTeacher.fullname}}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-6 col-sm-3">
							<img class="img-responsive" src="{{viewTeacher.avatar}}">
						</div>
						<div class="col-xs-6">
							<p class="bold">Họ và tên:{{viewTeacher.fullname}}</p>
							<p class="bold">Nghề nghiệp: {{viewTeacher.job}}</p>
							<p class="bold">Email: {{viewTeacher.email}}</p>
							<p class="bold">Address: {{viewTeacher.address}}</p>
							<p class="bold">indentityCard: {{viewTeacher.indentityCard}}</p>
							<p class="bold">Phone: {{viewTeacher.phone}}</p>
						</div>
					</div>
					<div>
						<h4>Mô tả bản thân</h4>
						<div trumbowyg-ng
							ng-model="viewTeacher.description" 
							editor-config="{btns: ['bold','italic','insertImage','|','link']}">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="acceptTeacher(viewTeacher.email)">Duyệt</button>
					<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="rejectTeacher(viewTeacher.email)">Từ chối</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>