<div class="container">
	<h2>Bạn đã kích hoạt tài khoản thành công</h2>
	<h1><a href="/" class="btn btn-success">Trang chủ</a href="/" class="btn btn-success"></h1>
</div>
<%- partial ('../common/footer.ejs') %>