
    <div class="modal-dialog" role="document" ng-controller="changePasswordTeacherCtr">
        <div class="modal-content">
            <div class="modal-header">
                <a href="http://localhost:1337/"><button type="button" class="close"   aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                <h4 class="modal-title text-center" id="myModalLabel">Đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                <form name="changePasswordForm" class="validate-input" novalidate>
                    <div class="pd-10">
                     Email :  <%=user.email%>
                        <br><br>
                     <!--   Mật khẩu hiện tại : <validate-input class="mg-bottom-10"  v-model="changePass" v-name="oldPassword" v-form="changePasswordForm" v-type="password" v-placeholder="Mật khẩu hiện tại" v-tooltip-placement="top" v-required="true" v-min-length="6" v-max-length="12"></validate-input> -->
                      Mật khẩu mới : <validate-input class="mg-bottom-10"  v-model="changePass.password" v-name="password" v-form="changePasswordForm" v-type="password" v-placeholder="Mật khẩu" v-tooltip-placement="top" v-required="true" v-min-length="6" v-max-length="12"></validate-input>


                      Xác nhận mật khẩu mới : <validate-input class="mg-bottom-10" v-model="changePass.password_confirm" v-name="password_confirm" v-form="changePasswordForm" v-type="password" v-placeholder="Xác nhận Mật khẩu" v-tooltip-placement="top" v-required="true" ng-minlength="6" ng-maxlength="12" v-custom-validations="confirmNewPasswordValidation"></validate-input>

                     
                     
                <div class="row">
                    <div class="col-sm-6">
                        <a href="http://localhost:1337/" class="w-100-percent display-block btn btn-facebook w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10">Quay lại trang chủ</a>
                    </div>
                    <div class="col-sm-6">
                        <a  type="submit" class="w-100-percent display-block btn btn-google w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10" ng-click="submit(changePasswordForm.$valid)"> Lưu thay đổi</a>
                    </div>
                </div>
          


                    </div>
                </form>
            </div>

        </div>
    </div>
