<div style="margin-bottom: 69px">
	<div style="position: fixed;top:0;left:0;width: 100%;z-index: 89">
		<nav class="navbar navbar-default" role="navigation">
			 <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 </button>
						 <a class="navbar-brand" href="/">YOUR LOGO HERE</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						 <ul class="nav navbar-nav navbar-right" ng-controller="cartCtr">
						 		<li class="dropdown" ng-init="$root.cartOpen=false" ng-class="{'open':$root.cartOpen}">
						 			<a href="#" data-toggle="dropdown">
						 				<span class="relative bold">
						 					<i class="fa font-size-21 fa-shopping-basket" aria-hidden="true"></i>
						 					<span class="badge badge-card absolute-b-12-l-10" ng-if="$root.listCart.length">{{$root.listCart.length}}</span>
						 				</span>
						 			</a>
						 			<ul class="dropdown-menu min-w-230">
											<li class="pd-10">
												<p>{{$root.listCart.length}} Khoá học trong giỏ</p>
												<h5>Tổng: <span class="total_price_value">{{$root.listCartMoney | vnd}}</span></h5>
												<a href="/cart" class="btn btn-google color-fff" ng-if="$root.listCart.length">Xem giỏ hàng</a>
											</li>
									 </ul>
						 		</li>

						 		<!-- EJS -->
						 		<% if (user == null) { %>
								<li class="dropdown">
									 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Đăng Nhập ,Đăng Ký Tài Khoản<b class="caret"></b></a>
									 <ul class="dropdown-menu min-w-230">
											<!-- <li><a href="#" class="btn btn-default w-200 pd-10 bold mg-auto mg-top-bottom-10" data-toggle="modal" data-target="#loginModal">Đăng Nhập</a></li>
											<li><a class="btn btn-default w-200 pd-10 bold mg-auto mg-top-bottom-10" data-toggle="modal" data-target="#registerModal">Đăng Ký Tài Khoản Mới</a></li> -->
											<li><a href="/login/facebook" class="btn btn-facebook w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10">Dang nhap voi Facebook</a></li>
											<li><a href="/login/google" class="btn btn-google w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10">Dang nhap voi Google</a></li>
											<li><a href="/teacher/login" class="btn btn-default w-200 pd-10 bold mg-auto mg-top-bottom-10">Giáo viên đăng nhập</a></li>
									 </ul>
								</li>
								<% } %>
								<!-- END -->
								<!-- EJS -->
						 		<% if (user != null) { %>
								<li class="dropdown">
									 <a href="#" class="dropdown-toggle h-55" data-toggle="dropdown">
									 	<div class="pull-left">
									 		<img src="<%= user.avatar %>" width="34" height="34">
									 	</div>
									 	<div class="pull-right">
										 	<p class="mg-0"><strong><%= user.fullname %></strong></p>
										 	<p class="mg-0 font-size-12">
										 		Tài khoản
										 		<!-- EJS -->
						 						<% if (user.role == 'student') { %>
						 							thành viên
						 						<% } %>
												<!-- EJS END -->
										 		<!-- EJS -->
						 						<% if (user.role == 'teacher') { %>
						 							giáo viên
						 						<% } %>
												<!-- EJS END -->
										 	</p>
									 	</div>
									 </a>
									 <ul class="dropdown-menu min-w-230">

											<li><a href="/profile" class="btn btn-facebook w-200 pd-10 bold mg-auto mg-top-bottom-10 color-fff">Hồ sơ cá nhân</a></li>
											<!-- EJS -->
					 						<% if (user.role == 'student') { %>
										
					 						<li><a href="/payment-history" class="btn btn-google w-200 pd-10 bold mg-auto mg-top-bottom-10 color-fff">Lịch sử giao dịch</a></li>
					 						<li><a href="/mycourse" class="btn btn-success w-200 pd-10 bold mg-auto">Khóa học đã mua</a></li>

					 						<% } %>
											<!-- EJS END -->
											<!-- EJS -->
					 						<% if (user.role == 'teacher') { %>
					 						<li><a href="/changePasswordTeacher" class="btn btn-facebook w-200 pd-10 bold mg-auto mg-top-bottom-10 color-fff">Thay đổi mật khẩu</a></li>
					 						<li><a href="/repository" class="btn btn-google w-200 pd-10 bold mg-auto mg-top-bottom-10 color-fff">Khóa học của tôi</a></li>
					 						<li><a href="/withdraw" class="btn btn-facebook w-200 pd-10 bold mg-auto mg-top-bottom-10 color-fff">Rút tiền</a></li>
					 						<% } %>
											<!-- EJS END -->
											<li><a href="/logout" class="btn btn-default w-200 pd-10 bold mg-auto mg-top-bottom-10">Đăng Xuất</a></li>
									 </ul>
								</li>
								<% } %>
								<!-- END -->
						 </ul>
						 <div class="navbar-form navbar-right" role="search" ng-controller="searchCourseCtr">
								<div class="form-group">
									 <input type="text" placeholder="Tìm kiếm khóa học" class="form-control search-course" ng-model="searchStr">
									 <button class="btn btn-default" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i></button>

								</div>
						 </div>
					</div>
					<!-- /.navbar-collapse -->
			 </div>
			 <!-- /.container-fluid -->
		</nav>
	</div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" ng-controller="registerStudentCtr">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Đăng ký bằng email</h4>
            </div>
            <div class="modal-body">
            	<form name="registerform" class="validate-input" novalidate>
	            	<div class="pd-10">
	            		<validate-input class="mg-bottom-10" v-model="user.fullname" v-name="fullname" v-form="registerform" v-type="text" v-placeholder="Họ và tên" v-tooltip-placement="top" v-required="true" v-min-length="3" v-max-length="30"></validate-input>

	            		<validate-input class="mg-bottom-10" v-model="user.email" v-name="email" v-form="registerform" v-type="email" v-placeholder="Email" v-tooltip-placement="top" v-required="true"></validate-input>

	            		<validate-input class="mg-bottom-10" v-model="user.password" v-name="password" v-form="registerform" v-type="password" v-placeholder="Mật khẩu" v-tooltip-placement="top" v-required="true" v-min-length="6" v-max-length="12"></validate-input>


	            		  <validate-input class="mg-bottom-10" v-model="user.password_confirm" v-name="password_confirm" v-form="registerform" v-type="password" v-placeholder="Xác nhận Mật khẩu" v-tooltip-placement="top" v-required="true" ng-minlength="6" ng-maxlength="12" v-custom-validations="confirmPasswordValidation"></validate-input>

	                	<div class="mg-top-10">
	                		<button type="submit" class="btn btn-google w-200 pd-10 bold color-fff mg-auto mg-top-10 display-block" ng-click="submit(registerform.$valid)">ĐĂNG KÝ</button>
	                	</div>
	            	</div>
            	</form>
            </div> -->
           <!--  <div class="modal-footer">
            	<div class="row">
	            	<div class="col-sm-6">
	            		<a href="/login/facebook" class="w-100-percent display-block btn btn-facebook w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10">Đăng nhập với Facebook</a>
	        		</div>
					<div class="col-sm-6">
						<a href="/login/google" class="w-100-percent display-block btn btn-google w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10">Đăng nhập với  Google</a>
					</div>
				</div>
            </div> -->
   <!--      </div>
    </div>
</div> -->


<!-- Modal -->
<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" ng-controller="loginStudentCtr">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Đăng nhập bằng email</h4>
            </div>
            <div class="modal-body">
            	<form name="loginform" class="validate-input" novalidate>
	            	<div class="pd-10">
		                <div class="mg-top-10">
		                	<input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email" tooltip-enable="{{!loginform.email.$valid}}" tooltip-placement="top" uib-tooltip-template="'emailValidate.html'" ng-class="!loginform.email.$valid&&loginform.$submitted?'err':''" ng-required="true">
		            		<!-- VALIDATE TEN KHOA HOC -->
							<!-- <script type="text/ng-template" id="emailValidate.html">
								<div ng-show="loginform.email.$error.required">Bạn phải nhập email</div>
								<div ng-show="loginform.email.$error.email">Bạn phải nhập đúng dạng email</div>
							</script> -->
							<!-- END -->
		               <!--  </div>
		                <div class="mg-top-10">
		                	<input type="password" class="form-control" placeholder="Mật khẩu" name="password" ng-model="user.password" tooltip-enable="{{!loginform.password.$valid}}" tooltip-placement="top" uib-tooltip-template="'passwordValidate.html'" ng-class="!loginform.password.$valid&&loginform.$submitted?'err':''" ng-required="true" ng-minlength="6" ng-maxlength="12"> -->
		            		<!-- VALIDATE TEN KHOA HOC -->
							<!-- <script type="text/ng-template" id="passwordValidate.html">
								<div ng-show="loginform.password.$error.required">Bạn phải nhập password</div>
								<div ng-show="loginform.password.$error.minlength">Mật khẩu phải lớn hơn 6 ký tự</div>
								<div ng-show="loginform.password.$error.maxlength">Mật khẩu phải nhỏ hơn 12 ký tự</div>
							</script>
	                	</div>
	                	<div class="mg-top-10">
	                		<button type="submit" class="btn btn-google w-200 pd-10 bold color-fff mg-auto mg-top-10 display-block" ng-click="submit(loginform.$valid)">Đăng Nhập</button>
	                	</div>
	            	</div>
            	</form>
            </div>
            <div class="modal-footer">
            	<div class="row">
	            	<div class="col-sm-6">
	            		<a href="/login/facebook" class="w-100-percent display-block btn btn-facebook w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10">Đăng Nhập Với Facebook</a>
	        		</div>
					<div class="col-sm-6">
						<a href="/login/google" class="w-100-percent display-block btn btn-google w-200 pd-10 bold color-fff mg-auto mg-top-bottom-10">Đăng Nhập Với Google</a>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>  -->